<li>If Weatherizer cannot determine your weather conditions based on your zipcode,
try entering your "Location ID" instead of your zipcode. This is likely to work, but not guaranteed. To determine your "Location Id" do the following:
	<ul>
		<li>Visit <a href="http://weather.yahoo.com/">Yahoo! Weather</a>,
		enter your zipcode or city, country, select the best match if necessary, click "go"</li>
		<li>This will take you to a page in which your Location Id is in the browser's address bar.
		If your browser's address bar contains:
			<span style="display: block; text-align: center;">http://weather.yahoo.com/forecast/<strong>FRXX0024</strong>.html</span>
		then your Location Id is:
		<span style="display: block; text-align: center;">FRXX0024</span>
		</li>
	</ul>
</li>