#apps_menu { display: none; }

#app_menu { border: none; position: absolute; left: 0em; top: 10em; }
#app_menu div { display: block; }
#app_menu .here_we_are a { font-size: 2em; }

#logo { position: absolute; left: 0em; top: 1em; }
#logo img { background: none; width: 14em; }

h5 {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: normal;
  text-align: left;
  margin: 0em;
  padding: 0em;
}

.link { cursor: pointer; }
.right { float: right; }
.left { float: left; font-size: 1.5em; padding: 2px; }

.annotated_url { float: right; margin-right: -10em; }

.help { text-align: right; color: #777777; }
.summaryhelp { float: left; padding: .5em 0em 0em .5em; color: #777777; }
td { padding: 1em 0em 1em 0em; vertical-align: middle; }
.above_helprow td { padding-bottom: 0em; }
.helprow td { padding-top: 0em; }
label { padding-right: 1em; }

#edit_account_info { font-size: 1.6em; margin: 0em; padding: 1em 0em 0em 9.8em; }
#process_account_form { margin-right: 2em; }

/*
ul { list-style-type: none; }
ul li input { display: block; text-align: center; }
*/

.smallheader { font-variant: small-caps; color: #6C0B5D; letter-spacing: .2em; }

.step { display: inline; padding: 0em 2em; }
#page_steps .selected { background: yellow; }

.tabs { border-bottom: 1px solid #BBBBBB; margin-top: 3em; }
.tab {
  text-decoration: none; 
  display: inline;
  border: 1px solid #BBBBBB;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  background: #DEDEDE;
  padding: 0em .5em;
  margin: 0em .2em 0em .2em;
}
.tab:hover { text-decoration: none; }
.tabs .selected { background: white; border-bottom: none; padding-bottom: .1em; }

#site_classifications table tr td { width: 4em; vertical-align: top; }
#procrasdonate_col { border-right: 1px solid #CCCCCC; }
#undefined_col { border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; }
#timewellspent_col { border-left: 1px solid #CCCCCC; }

.move_to_left { padding-right: 1em; }

#ranks { text-align: left; }
.site_rank {}
.site_rank span {}
.site_rank .site_name {}
.site_rank .rank { width: 200px; }
.site_rank .bar { height: 10px; background: red; }
.site_rank .rank_text {}
.move_to_right { padding-left: 1em; }

/**** REGISTER TABS ****/
#next_register_track { margin: 1em -10em 1em 50%; }
#prev_register_track { margin: 1em 50% 1em -10em; }

/**** RECIPIENTS ****/

.recipient_row { margin: .2em 0em .2em 0em; clear: both; }
.recipient_row div { float: left; }
.recipient { border: 1px solid #DDDDFF; -moz-border-radius: 4px; margin: .3em 0em; width: 60%; }
.recipient .name { font-size: 1.1em; padding: .2em .4em; }
.recipient .description { padding: .2em .4em; text-align: left; }
.recipient_row .remove { text-decoration: none; background: #FFDDDD; -moz-border-radius: 4px; margin-top: .3em; padding: .2em .4em; }
.recipient_row .add { text-decoration: none; background: #DDFFFF; -moz-border-radius: 4px; margin-top: .3em; padding: .2em .4em; }
.recipient_row .slider { width: 25%; }
.recipient_row .input { float: left; margin: 0em 1em; }

/**** SUPPORT ****/
#support_slider { width: 10em; float: left; }
#support_input { float: left; } 