@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* 2 */
.tabs-bottom ,
.tabbrowser-tab[selected="true"] ,
.tabs-container > .tabs-closebutton {
  background-color: highlight !important;
}

/* 3 */
.tabbrowser-tab[selected="true"] {
  color: highlighttext !important;
}

/* 4 */
.tabbrowser-tab[selected="true"]:focus > .tab-text {
  border-color: highlighttext;
}
