{% extends 'twitter/base.html' %}

{% block window_title %}Weatherized!{% endblock %}

{% block head %}
	{% include 'imager/snippets/imager_head.html' %}
{% endblock %}
				
{% block content %}
	<div id="thin_column">
	
		{% if weatherized.background_success %}
			<h3>Success!</h3>
			<p>
			Check out your <a href="http://twitter.com/{{ weatherized.user.twitter_username }}">
			twitter homepage</a>.
			</p>
		{% else %}
			<h3>Hmmm...</h3>
			{% ifequal weatherized.current_code.code 3700 %}
				<p>
				Something went wrong setting your background. Did you change your twitter password?
				<a href="{% url authorize_background_changes weatherized.theme.slug %}">Try again</a>.
				</p>
			{% endifequal %}
		{% endif %}
		
		{% ifequal weatherized.current_code.code 3700 %}
			<p>
			Weather lookup failed. Did you enter a valid zipcode? <a href="{% url authorize_background_changes weatherized.theme.slug %}">Try again</a>.
			</p>
		{% else %}
			<p>
			Looks like <span class="code_name">{{ weatherized.current_code.name }}</span>.
			</p>
		{% endifequal %}
		
		<p>
		We love <a href="{% url feedback "imager" %}">feedback</a>.
		</p>
		
		<h3>Current weatherization</h3>
		<div class="select_theme">
			{% with weatherized.theme as theme %}
				{% include 'imager/snippets/theme_summary.html' %}
			{% endwith %}
		</div>

		<h3>Password security guarantee</h3>
		<div id="password_guarantee">
			<p>
			We only use your twitter account credentials to update your
			background image according to your local weather.
			</p>
			<p>
			As soon as twitter permits OAuth, "an authentication protocol 
			that allows users to approve application to act on their behalf 
			without sharing their password", we will use that.
			</p>
			<p>
			<a href="http://apiwiki.twitter.com/OAuth-FAQ">OAuth is currently in closed beta</a>.
			</p>
		</div>
		
	</div>
{% endblock %}
