{% extends 'procrasdonate/base.html' %}

{% block content %}
	<div id="thin_column">
		<h3>On this page</h3>
		<span class="horizontal"> 
			<a href="#why">Schedule</a>
		</span>
		<span class="horizontal"> 
			<a href="#what">ProscrasDonate</a>
		</span>
		<span class="horizontal">
			<a href="#quality">Quality</a>
		</span>
		<span class="horizontal">
			<a href="#follow">Progress</a>
		</span>
		<span class="horizontal"> 		
			<a href="#privacy">Privacy</a>
		</span>
		<span class="horizontal"> 			
			<a href="#how">How</a>
		</span>
		<span class="horizontal"> 
			<a href="#pay">Payments</a>
		</span>
		<span class="horizontal"> 	
			<a href="#who">Team</a>
		</span>
		<span class="horizontal"> 	
			<a href="#tos">Terms</a>
		</span>
		<span class="horizontal"> 	
			<a href="#stop">Unsubscribe</a>
		</span>

		<h3><a name="why"></a>Feel Good About your Schedule</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/Calendar.png" class="small-image">		
		<p>How often do <b>you</b>... watch tv or video online?  Read the news?  Play games?  Chat?  
		</p><p>Keep track of how you <b>spend</b> your time and feel <b>good</b> about being online.
		</p>
			
		<h3><a name="what"></a>ProcrasDonate?</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/StackPennies.png" class="small-image">		
		<p><b>ProcrasDonation</b> is how to make your spare time count. 
			Give pennies to your favorite causes for every hour you spend <b>goofing</b> around on selected websites.
		</p>
			
		<h3><a name="quality"></a>Support Quality Content</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/ThumbsUp.png" class="small-image">		
		<p>You can <b>also</b> mark sites as "Time Well Spent" and donate to them directly. (Coming Soon!)
		</p>			
			
		<h3><a name="follow"></a>Progress, Goals, and Budget</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/hourglass.png" class="small-image">		
		<p>So what's your time <b>worth?</b></p>
		<p>How many pennies will you <b>pledge</b> per hour of ProcrasDonation?  
			Weekly scheduling <b>goals</b> help keep track of your <b>progress</b> and spending limits let you set a <b>budget</b>.  
		</p>
		
		<h3><a name="privacy"></a>Your Records are Private</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/FireWall.png" class="small-image">		
		<p>	Your individual ProcrasDonation records are <b>kept</b> on your computer and are not accessible by anyone else.  
			We could not even access them in response to a court order.
			</p><p>Summary information that your browser shares with our community is <b>anonymous</b>.  
			</p>
			<p>
				You may <b>select</b> "Announce my Donations on Twitter" (Coming Soon).  
			Doing so will make the amounts of your donations and recipients publicly available.</p>

		<h3><a name="how"></a>How It Works</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/ScratchHead2.png" class="small-image">		
		<p>Add our <b>free</b> software to your web browser and set your preferences.
		</p>
		<p>Pledges will <b>automatically</b> be made on your behalf based on your preferences.
		</p>

		<h3><a name="how"></a>Turning Pledges into Donations</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/DollarRocket.png" class="small-image">		
		<p>Pledges are linked to your Twitter username.  
			Use <a href="http://tipjoy.com/">Tipjoy</a> to <b>approve</b> your pledges.
			We'll send you occasional emails to remind you of any unpaid balance.
		</p>
					
		<h3><a name="who"></a>Why We Made ProcrasDonate</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/FourHeads.png" class="small-image">		
		<p>We're the same people that brought you <a href="http://bilumi.org">Buy It Like You Mean It</a>.
			That's why bilumi is <b>prelisted</b> when you choose your favorite charities.
		</p><p>We started ProcrasDonate because traditional grant funding is unprepared to support <b>innovative</b> projects like bilumi and quality online <b>journalism</b>.
			ProcrasDonate is a flexible, <b>user-centered</b> funding source for charities and content providers.
		</p>
	
		<h3><a name="tos"></a>Terms of Use</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/TermOfUse.png" class="small-image">		
		<p>By using our service you agree to the following:
			<ul>
			<li>ProcrasDonate may update these terms of service without warning or notification.
			<li>You understand how our service works and are willingly participating.
			<li>You agree to pay all pledges made on your behalf in full.
			<li>A percentage that you determine of your donations is donated to our service.
			<li>You are responsible for any content you add to this site.
			<li>Illegal, unfriendly, or otherwise problematic content will be removed.
			<li>Your individual records and settings are private and not accessible by our company.
			<li>Your summary records are used for community statistics and other as yet undetermined uses (hopefully that will support the service financially).
			<li>All rights are reserved including ProcrasDonate intellectual property of software and our business model.
			</li><li><b>Thanks for ProcrasDonating!</b>
			</ul>
		</p>	
	
		<h3><a name="stop"></a>Unsubscribe</h3>
		<img src="{{ MEDIA_URL }}twitter/procrasdonate/img/stop_sign.png" class="small-image">		
		<p> alkjsd gasljg asldj galskj d
		</p>	
	
	</div>
{% endblock %}
