{% extends 'procrasdonate/base.html' %}

{% block content %}
	<div class="page_menu">
		<h3>On this page</h3>
		<ul>
			<li><a href="#what">ProscrasDonate</a></li>
			<li><a href="#why">Schedule</a></li>
			<li><a href="#compare">Quality</a></li>
			<li><a href="#follow">Customization</a></li>
			<li><a href="#privacy">Privacy</a></li>
			<li><a href="#how">How it works</a></li>
			<li><a href="#pay">How to pay</a></li>			
			<li><a href="#who">About Us</a></li>
			<li><a href="#tos">Terms of use</a></li>
			<li><a href="#stop">Unsubscribe</a></li>

		</ul>
	</div>
	
	<div id="thin_column">
		
		<h3><a name="what"></a>ProcrasDonate?</h3>
		<p><b>ProcrasDonation</b> is how to make your spare time count. 
			Give pennies to your favorite causes for every hour you spend <b>goofing</b> around on selected websites.
		</p>
		
		<h3><a name="compare"></a>Support Quality Content</h3>
		<p>You can <b>also</b> support sites marked as "Time Well Spent" with hourly donations. (Coming Soon!)
		</p>
			
		<h3><a name="why"></a>Feel Good About your Schedule</h3>
		<p>How much time do you <b>spend</b> watching tv online?  Reading news?  Playing games?  Chatting?  
			</p><p>Keep track of <b>your</b> time and feel <b>good</b> about spending time online.
			</p>
			
		<h3><a name="follow"></a>Customization</h3>
		<p>So what's your time <b>worth?</b> How many pennies will you donate for every hour you ProcrasDonate?  
			Weekly scheduling <b>goals</b> help keep track of your <b>progress</b> and spending limits let you set a <b>budget</b>.  
		</p>
		
		<h3><a name="privacy"></a>Your Records are Private</h3>
		<p>	Your individual ProcrasDonation records are kept on your computer and are not accessible by anyone else.  
			We could not even access them in response to a court order.
			</p><p>Summary information that your browser shares with our community is <b>anonymous</b>.  
			</p>
			<p>
				You may <b>select</b> "Announce my Donations on Twitter" (Coming Soon).  
			Doing so will make the amounts of your donations and recipients publicly available.</p>

		<h3><a name="how"></a>How Does It Work?</h3>
		<p>Users like you add our <b>free</b> software to your web browser and then answer some questions about your preferences.
			You'll be able to track how you spend your time online set goals for yourself.</p>
			<p><b>Pledges</b> will automatically be made on your behalf to the organizations of your choice.
			</p>

		<h3><a name="how"></a>How Do I Pay?</h3>
		<p>Pledges are linked to your Twitter username.  
			Use <a href="http://tipjoy.com/">Tipjoy</a> to <b>approve</b> your pledges and pay your account balance.
			<b>Don't worry</b>, we'll send you occasional emails to remind you of any unpaid balance.
		</p>
					
		<h3><a name="who"></a>About Us</h3>
		<p>We're the same people that brought you <a href="http://bilumi.org">Buy It Like You Mean It</a>.
			That's why bilumi is prelisted when you choose your favorite charities.
		</p><p>We started ProcrasDonate because traditional grant funding is not equipped to support innovative projects like bilumi.
			It is our hope that ProcrasDonate represents a more <b>flexible</b> funding paradigm for charities and struggling content providers.
		</p>
	
		<h3><a name="tos"></a>Terms of Use</h3>
		<p>By using our service you agree to the following:
			<ul>
			<li>ProcrasDonate may update these terms of service without warning or notification.
			<li>You understand how our service works and are willingly participating.
			<li>You agree to pay all pledges made on your behalf in full.
			<li>A percentage that you determine of your donations is donated to our service.
			<li>You are responsible for any content you add to this site.
			<li>Illegal, unfriendly, or otherwise problematic content will be removed.
			<li>Your individual records and settings are private and not accessible by our company.
			<li>Your summary records are used for community statistics and other as yet undetermined uses (hopefully that will support the service financially).
			<li>All rights are reserved including ProcrasDonate intellectual property of software and our business model.
			</li><li>Thanks for ProcrasDonating!
		</p>	
	
		<h3><a name="stop"></a>Unsubscribe</h3>
		<p> 
		</p>	
	
	</div>
{% endblock %}
