{% extends 'procrasdonate/base.html' %}

{% block content %}
	<div id="thin_column">
		<h3>On this page</h3>
		<ul>
			<li><a href="#what">Procrastination</a></li>
			<li><a href="#why">Making it count!</a></li>
			<li><a href="#privacy">Privacy</a></li>
			<li><a href="#stop">Disable or uninstall ProcrasDonate</a></li>
			<li><a href="#follow">Is following @ProcrasDonate useful?</a></li>
			<li><a href="#feedback">Feedback</a></li>
			<li><a href="#who">About Us</a></li>
			<li><a href="#tos">Terms of use.</a></li>
		</ul>
	
		<h3><a name="what"></a>Procrastination</h3>
		<p>Hello World!</p>
		
		<h3><a name="why"></a>Making it count!</h3>
		<p>Hello World!</p>
		
		<h3><a name="privacy"></a>Privacy</h3>
		<p>Hello World!</p>
	</div>
{% endblock %}
