{% extends 'procrasdonate/base.html' %}

{% block content %}
	<div id="thin_column">
		<h3>Sensitive Information Never Leaves Your Computer</h3>
		<p>Your personal information remains on the computer you are using right now.
		You are free to delete this information at any time, and can be secure 
		in the knowledge that no one else will ever see your twitter password or
		browsing history.</p>
		
		<h3>Public Tweets</h3>
		<p></p>
		
		<h3>Anonymous Information</h3>
		<p></p>
	</div>
{% endblock %}
