@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button[label="-"] , 
button[label="+"] {
	width: 1.9em;
	min-width: 1.9em;
	height: 1.9em; }
#amount-display {
	width: 2.5em;
	text-align: center; }