{% extends 'twitter/base.html' %}

{% block window_title %}Weatherize!{% endblock %}

{% block head %}
	{% include 'imager/snippets/imager_head.html' %}
{% endblock %}
		
{% block content %}
	<div id="thin_column">
	
		<h3>Weatherize!</h3>
		
		
		
		{% comment %}
		<form id="authorize_form" method="post">
			<table>
			<tbody>
				{% if not twitter_user %}
					<tr><td class="error" colspan=2>{{ errors.username }}</td></tr>
					<tr>
						<td><label>username: </label></td>
						<td><input type="text" class="imager_username" name="username" value="{{username}}" /></td>
					</tr>
				{% endif %}
				{% if not twitter_user.password %}
					<tr><td class="error" colspan=2>{{ errors.password }}</td></tr>
					<tr>
						<td><label>password: </label></td>
						<td><input type="password" name="password" /></td>
					</tr>
				{% endif %}
				{% if not twitter_user.zipcode %}
				<tr><td class="error" colspan=2>{{ errors.zipcode }}</td></tr>
				<tr>
					<td><label>zip code: </label></td>
					<td><input type="text" class="zipcode" name="zipcode" value="{% if twitter_user.zipcode %}{{ twitter_user.zipcode.zipcode }}{% else %}{{ zipcode }}{% endif %}" /></td>
				</tr>
				{% endif %}
				{% if not theme.replace_background %}
				<tr><td class="error" colspan=2>{{ errors.background }}</td></tr>
				<tr>
					<td><label>Homepage background <small>(Optional. Will use existing twitter background if left empty)</small>: </label></td>
					<td><input type="text" class="zipcode" name="zipcode" value="{% if twitter_user.zipcode %}{{ twitter_user.zipcode.zipcode }}{% else %}{{ zipcode }}{% endif %}" /></td>
				</tr>
				{% endif %}
				<tr>
					<td></td>
					<td><input type="submit" value="Weatherize!" /></td>
				</tr>
			</tbody>
			</table>
		</form>
		{% endcomment %}
		
		<h3>Current selection</h3>
		<div class="select_theme">
			{% include 'imager/snippets/theme_summary.html' %}
		</div>

		{% if not twitter_user.password %}
		<h3>Password security guarantee</h3>
		<div id="password_guarantee">
			<p>
			We only use your twitter password to update your
			background image according to your local weather. 
			</p>
			<p>
			As soon as twitter provides OAuth, "an authentication protocol 
			that allows users to approve application to act on their behalf 
			without sharing their password", we will use that.
			</p>
			<p>
			<a href="http://apiwiki.twitter.com/OAuth-FAQ">OAuth is currently in closed beta</a>.
			</p>
		</div>
		{% endif %}
	</div>
{% endblock %}