{% extends 'twitter/base.html' %}

{% block window_title %}Themes You Created{% endblock %}

{% block head %}
	{% include 'imager/snippets/imager_head.html' %}
{% endblock %}

{% block logo %}
	<img alt="" src="{{ MEDIA_URL }}twitter/imager/img/WeatherizerLogoText.png">
{% endblock %}

{% block content %}
	<div id="thin_column">
		{% if themes %}
			<h3>Select theme to edit</h3>
			<div id="themes">
				{% for theme in themes %}
					<div class="lefty weatherize_selection">
						<a href="{% url edit_theme theme.slug %}">
							<button>edit</button>	
						</a>
					</div>
					{% include 'imager/snippets/theme_summary.html' %}
				{% endfor %}
			</div>

		{% else %}
			<h3>Find previously created themes</h3>
			<form method="post">
				<table>
				<tbody>
					<tr><td class="error" colspan=2>{{ errors.username }}</td></tr>
					<tr>
						<td><label>username: </label><small></small></td>
						<td><input type="text" name="username" value="{{username}}" /></td>
					</tr>
					<tr><td class="error" colspan=2>{{ errors.password }}</td></tr>
					<tr>
						<td><label>password: </label></td>
						<td><input type="password" name="password" /></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Find Themes" /></td>
					</tr>
				</tbody>
				</table>
			</form>
		{% endif %}
		
		<h3>Create new theme</h3>
			<p><a href="{% url create_theme %}">Create a new theme</a></p>
	
		{% if not twitter_user.password %}
		<h3>Password security guarantee</h3>
		<div id="password_guarantee">
			<p>
			We do not store passwords of theme creators or editors. We require a password 
			so that a single twitter user is accountable for theme content. 
			</p>
			<p>
			Should you want to edit this theme later, you will be able to enter your
			password again to gain edit privileges.
			</p>
		</div>
		{% endif %}
	</div>
{% endblock %}
